body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-nav {
  background-color: rgb(43, 75, 66);
  color: white;
  padding: 10px 20px;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav li { 
  margin-right: 20px;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.top-nav a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
}

.image-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.image-links img {
  width:95%
}

@media (max-width: 768px) {
  .image-links {
    grid-template-columns: repeat(2, 1fr);
  }
}


.card {
  width: 600px;
  border: 1px solid #c2e1dc;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.image-links img {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;

}
.image-links img:hover {
  transform: scale(1.1);
  
  z-index: 1;
}

.image img {
  height: 200px;
}

.traits {
  margin-left: 20px;
  flex: 1;
}

.traits-header {
  background: #388a75;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  margin-bottom: 8px;
  width: fit-content;
}

.trait {
  margin-bottom: 4px;
  font-size: 0.9rem;
}
