body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-nav {
  background-color: rgb(43, 75, 66);
  color: white;
  padding: 10px 20px;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.top-nav a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}